html, body, row, container {
    height: 97%;
}
textarea {
    resize: none;
    display:block;
}
.full-h {
    height: 100%;
}

.text-box {
    height: 100%;
}

textarea.form-control {
    margin:1%;
  height: 96%;
}




